APP_ENV=development
APP_PORT=8080

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=change_me
DATABASE_NAME=pjsk

JWT_SECRET=change_me

ADMIN_SESSION_TTL=12h
ADMIN_COOKIE_SECURE=false
